absl-py==2.0.0
accelerate==0.21.0
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
bitsandbytes==0.40.2
blinker==1.7.0
blis==0.7.11
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
cloudpathlib==0.16.0
comm==0.1.4
confection==0.1.4
ctransformers==0.2.27
cymem==2.0.8
datasets==2.14.6
debugpy==1.8.0
decorator==5.1.1
dill==0.3.7
docstring-parser==0.15
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup==1.1.3
executing==2.0.0
filelock==3.13.0
Flask==3.0.0
frozenlist==1.4.0
fsspec==2023.10.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
greenlet==3.0.1
grpcio==1.59.2
huggingface-hub==0.19.4
idna==3.4
importlib-metadata==6.8.0
ipykernel==6.26.0
ipython==8.16.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.5.0
jupyter_core==5.4.0
langcodes==3.3.0
loralib==0.1.2
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
numpy==1.26.1
oauthlib==3.2.2
packaging==23.2
pandas==2.1.2
parso==0.8.3
peft==0.4.0
pexpect==4.8.0
pgvector==0.2.3
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.11.0
preshed==3.0.9
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.6
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.16.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.6.0
rsa==4.9
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
shtab==1.6.4
six==1.16.0
smart-open==6.4.0
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.23
srsly==2.4.8
stack-data==0.6.3
style==1.1.0
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
thinc==8.2.1
threadpoolctl==3.2.0
tokenizers==0.15.0
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.12.0
transformers @ git+https://github.com/huggingface/transformers.git@3bc50d81e6c70d63e59d635106bac6a561b47681
triton==2.1.0
trl==0.4.7
typer==0.9.0
typing_extensions==4.8.0
tyro==0.5.12
tzdata==2023.3
update==0.0.1
urllib3==2.0.7
wasabi==1.1.2
wcwidth==0.2.8
weasel==0.3.4
Werkzeug==3.0.1
xxhash==3.4.1
yarl==1.9.2
zipp==3.17.0
